@import "tailwindcss";

body {
  background-color: #f4f6f9;
}

.custom-search-input {
  border: 1px solid rgb(220, 219, 219) !important;
  border-bottom: 2px solid #ccc;
}

.custom-search-input:focus,
.custom-search-input:focus-within {
  border-bottom: 3px solid #003a70 !important;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon,
.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: #003A70 !important;
  border-color: #003A70 !important;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon,
.custom-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #fff !important; /* number ko white kar diya */
}
